.gradle
server/.gradle
server/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### NetBeans ###
*/nbproject/private/
*/nbbuild/
*/dist/
*/nbdist/
*/.nb-gradle/


# compiled output
ui/dist
ui/tmp
ui/out-tsc

# dependencies
ui/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
ui/.sass-cache
ui/connect.lock
ui/coverage
ui/libpeerconnection.log
ui/npm-debug.log
ui/yarn-error.log
ui/testem.log
ui/typings

# System Files
.DS_Store
Thumbs.db
