<nav class="navbar  navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/convoluted">
      <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Bootstrap
    </a>
  </div>
</nav>
<div class="container mt-3">
  <main class="row">
    <div class="col mt-3">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="row">
    <div class="col">
      <p>Footer</p>
    </div>
  </footer>
</div>
